body {
    font-size: 38px;
    font-family: "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif
}

#table-user-info {
    margin: 0 auto;
}

th {
    font-size: 42px;
}

legend {
    font-size: 42px;
    margin-top: 80px;
}

.btn-big {
    font-size: 24px;
    margin-bottom: 16px;
    display: inherit;
    width: 150px;
}

.navbar {
    padding: 10px;
}

.container .form-input {
    margin-top: 25px;
    font-size: 42px;
}

.container input {
    height: 60px;
}

.container textarea {
    height: 300px;
}

.container button {
    height: 80px;
    width: 120px;
}

.bt-group-season {
    float: right;
}

.logo {
    background: url('http://static.wdjimg.com/www/images/icons-2x-scc21d2bca9.png') 0 -87px;
    background-size:156px 237px;
    height: 50px;
    width: 50px;
}
